Package: com.mk.runningdotindicator
Name: RunningDotIndicator
Version: 2.0.66.8
Architecture: iphoneos-arm64
Description: Adds an indicator (dot or bar) to replace app icon names when apps are running on the home screen.
Maintainer: 口非口
Author: 口非口
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Homepage: https://codebuddy.cn
