Package: com.mk.runningdotindicator
Name: RunningDotIndicator
Version: 1.6.7
Architecture: iphoneos-arm64
Description: Adds an indicator (dot or bar) to replace app icon names when apps are running on the home screen. Two shapes available: dot or bar. Auto-replace label position.
Maintainer: 口非口
Author: 口非口
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Homepage: https://codebuddy.cn
